---
data: menugroup
---
<header class="bg-black text-gray-50 py-4 sticky inset-0">
<nav class="max-w-2xl mx-auto text-lg space-x-6">
    {% for item in menugroup %}
    <a href="{{ item.url }}" class="hover:text-sky-400">{{ item.title }}</a>
    {% endfor %}
</nav>

</header>