---
layout: base
pagination:
  data: menugroup
  size: 1
  alias: dt
permalink: "{{ dt.url }}"
---

<h1>{{ dt.title }}</h1>
<div>{{ test }}</div>
{% render "components/whatsnew.liquid", input: whatsnew %}